

.Login{
    background: url(background-gradient.png) no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-size: cover;
    min-width: 100vw;

}

.container{
    border-radius: 25px;
    align-items: center;
    width: 50vh;
    height: 60vh;
    background-color: white;
    text-align:center
}