

.Login{
    background: url(background-gradient.png) no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-size: cover;
    min-width: 100vw;

}

.container{
    border-radius: 25px;
    width: 50vh;
    height: 60vh;
    background-color: white;
    text-align:left;
}
label{
    font-size: 0.5em;
}

.email{
    line-height: 1em;
    margin-bottom: 0.5em;
}
.password{
    line-height: 1em;
    margin-bottom: 0.5em;
}
h4{
    text-align: center;
}
input[type="text"] {
    width: 20em;
    height: 3em;
    border: solid 1px #d3d3d3;
    border-radius: 5px;
    background-color: #ededed;
    padding-left: 0.5em;
    box-sizing: border-box;

}
input[type="password"] {
    width: 20em;
    height: 3em;
    border: solid 1px #d3d3d3;
    border-radius: 5px;
    background-color: #ededed;
    padding-left: 0.5em;
    box-sizing: border-box;

}
input[type="submit"]{
    width: 20em;
    border-radius: 5px;
    background-color: #464646 ;
    border: solid 1px #191919 ;
    color: white;
    padding: 0.6em;

}
input:focus {
    outline: none;
}
form{
    margin-left:2em;
    margin-right:2em;
}
.signup{
    font-size:0.5em;
    text-align:center;
    color:#7d7d7d;
    margin-top:4em;
}
a:link {
    color: #7d7d7d;
}
a:visited {
    color: #7d7d7d;
}
a:hover {
    color: #7d7d7d;
}
a:active {
    color: #7d7d7d;
}
span{
    margin-left: 0.75em;
}